.login-form{
    background-color:bisque;
    padding: 20px;
    border-radius: 10px;
}
.login-form-button {
    width: 100%;
}
.register-button{
    background-color: transparent;
    border-color: transparent;
    color: blue;
}